// Tablet and Laptop Sizes

// Phone Sizes

@media screen and (max-width: 480px) {
    .aboutMe {
        flex-direction: column;
        padding: 50px 35px;

        &__title {
            h1 {
                font-size: 21px;
                justify-content: flex-start;
            }
        }

        &__content {
            padding: 20px 0 0 20px;

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }

        &__btn--resume {
            a {
                font-size: 21px;
            }

            img {
                width: 15px;
                margin-left: 7px;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .aboutMe {
        &__title {
            h1 {
                font-size: 18px;
            }
        }

        &__content {
            padding: 20px 0 0 20px;

            p {
                font-size: 17px;
            }
        }

        &__btn--resume {
            a {
                font-size: 18px;
            }

            img {
                width: 15px;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .aboutMe {
        &__title {
            h1 {
                font-size: 17px;
            }
        }

        &__content {
            p {
                font-size: 16px;
            }
        }

        &__btn--resume {
            a {
                font-size: 17px;
            }

            img {
                width: 13px;
            }
        }
    }
}
