// Phone Sizes

@media screen and (max-width: 480px) {
    .projects {
        flex-direction: column;
        padding: 50px 35px;

        &__title {
            h1 {
                justify-content: flex-start;
                font-size: 21px;
            }
        }

        &__items {
            .project__item {
                flex-direction: column;
                padding: 30px 0 0 20px;

                &:not(:last-child) {
                    margin-bottom: 70px;
                }

                img {
                    width: 380px;
                }

                &__content {
                    margin: 20px 0 0 0;

                    a {
                        h3 {
                            font-size: 21px;
                        }
                    }

                    p {
                        font-size: 20px;
                        margin: 20px 0 25px;
                    }

                    &--buttons {
                        font-size: 17px;

                        span {
                            padding: 5px 9px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .projects {
        &__title {
            h1 {
                font-size: 18px;
            }
        }

        &__items {
            .project__item {
                img {
                    width: 314px;
                }

                &__content {
                    a {
                        h3 {
                            font-size: 18px;
                        }
                    }

                    p {
                        font-size: 17px;
                    }

                    &--buttons {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .projects {
        &__title {
            h1 {
                font-size: 17px;
            }
        }

        &__items {
            .project__item {
                img {
                    width: 275px;
                }

                &__content {
                    a {
                        h3 {
                            font-size: 17px;
                        }
                    }

                    p {
                        font-size: 16px;
                    }

                    &--buttons {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .projects__items .project__item img {
        width: 260px;
    }
}

@media screen and (max-width: 320px) {
    .projects {
        &__items {
            .project__item {
                img {
                    width: 220px;
                }

                &__content {
                    p {
                        font-size: 16px;
                    }

                    &--buttons {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
