// Phone Sizes

@media screen and (max-width: 480px) {
    .projects {
        display: flex;
        flex-direction: column;
        padding: 50px 35px;

        &__title {
            flex: 1;
            margin-right: 70px;

            h1 {
                justify-content: flex-start;
                font-size: 16px;
            }
        }

        &__items {
            .project__item {
                display: flex;
                flex-direction: column;
                padding: 30px 0 0 20px;

                &:not(:last-child) {
                    margin-bottom: 50px;
                }

                img {
                    width: 380px;
                }

                &__content {
                    h3 {
                        margin-top: 15px;
                    }

                    p {
                        margin: 15px 0 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .projects__items .project__item img {
        width: 314px;
    }
}

@media screen and (max-width: 380px) {
    .projects__items .project__item img {
        width: 275px;
    }
}

@media screen and (max-width: 360px) {
    .projects__items .project__item img {
        width: 260px;
    }
}

@media screen and (max-width: 320px) {
    .projects__items .project__item img {
        width: 230px;
    }
}
