// Tablets & Laptops Sizes

// Phone Sizes

@media screen and (max-width: 480px) {
    .homepage {
        width: 100%;
        height: 100vh;
        padding: 50px;

        &__greetings {
            h1 {
                font-size: 29px;
            }
        }

        &__content {
            h2 {
                font-size: 29px;
                width: 100%;
            }
        }

        &--getInTouch {
            p {
                font-size: 19.5px;
                line-height: 1.5;

                a {
                    padding: 5px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .homepage {
        &__greetings {
            h1 {
                font-size: 25.5px;
            }
        }

        &__content {
            h2 {
                font-size: 25.5px;
            }
        }

        &--getInTouch {
            p {
                font-size: 17px;
                line-height: 1.5;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .homepage {
        padding: 30px 50px;

        &__greetings {
            h1 {
                font-size: 23.5px;
            }
        }

        &__content {
            h2 {
                font-size: 23.5px;
            }
        }

        &--getInTouch {
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .homepage {
        padding: 0 50px;

        &__greetings {
            h1 {
                font-size: 22.5px;
            }
        }

        &__content {
            h2 {
                font-size: 22.5px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .homepage {
        &__greetings {
            h1 {
                font-size: 20.5px;
            }
        }

        &__content {
            h2 {
                font-size: 20.5px;
            }
        }
    }
}
